/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(var(--accent));
  border-radius: 2rem;
  height: 2rem;
}